.HelloBlock__background {
    background-color: #F7D861;
}

.HelloBlock__container{
    display: block;
    align-content: end;
    padding: 44px 60px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
}

.HelloBlock__text-block{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.HelloBlock__base-text{
    background-color: #1B1B1B;
    color: white;
    padding: 0 20px 20px 15px;
    font-family: YSDisplay, sans-serif;
    font-weight: normal;
    letter-spacing: calc(1em / -50);
    line-height: 44px;
}

.HelloBlock__top-text{
    position: relative;
    font-size: 92px;
    border-radius: 20px 20px 20px 0;
    padding-top: 20px;
    padding-bottom: 40px;
}

.HelloBlock__middle-text{
    position: relative;
    font-size: 44px;
    border-radius: 0 0 20px 0;
    padding-top: 0;
}

.HelloBlock__low-text{
    position: relative;
    font-size: 44px;
    border-radius: 0 0 20px 20px;
}

.HelloBlock__low-text::before,
.HelloBlock__middle-text::before{
    content: "";
    position: absolute;
    top: -1px;
    right: -23px;
    width: 23px;
    height: 23px;
    background-image: url("../../ui/images/before-radius.svg");
}

.HelloBlock__video {
    width: 100%;
    max-height: 100vh;
}

@media(max-width: 1080px){
    .HelloBlock__top-text{
        font-size: 82px;
    }

    .HelloBlock__middle-text{
        font-size: 36px;
    }

    .HelloBlock__low-text{
        font-size: 36px;
    }
}
