.Offer__background {
    background-image: url("../../ui/images/offer-background.png");
    background-repeat: no-repeat;
    background-color: #F9DB62;
    background-position: right;
}

.Offer__offer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 180px;
}

.Offer__offer-text {
    font-size: 60px;
    font-family: YSDisplay, sans-serif;
    font-weight: bold;
}

.Offer__heart-image{
    height: 52px;
    width: 52px;
}

@media(max-width: 1080px){
    .Offer__offer-text {
        font-size: 48px;
    }

    .Offer__heart-image{
        height: 42px;
        width: 42px;
    }
}
