.Skills__background {
    background-color: #F2F2F2;
}

.Skills__container{
    padding: 44px 60px;
}

.Skills__header{
    font-size: 36px;
    font-family: YSDisplay, sans-serif;
    font-weight: bold;
    padding-bottom: 44px;
}

.Skills__grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    gap: 32px;
}
